exportPattern('^[[:alpha:]]+')
S3method(autoplot,regime_model)
S3method(autoplot,regime_number)
S3method(autoplot,regime_missing)
S3method(autoplot,tsregime)
S3method(print,regime_model)
S3method(print,regime_missing)
S3method(print,regime_number)
S3method(print,tsregime)
S3method(mtarforecast,regime_model)